section + section {
  margin-top: 24px;
}

/* General */
main h3 {
  text-align: left;
}

/* Reward */
.reward-box {
  border: 1px solid white;
  border-radius: 15px;
  padding: 8px;
  text-align: center;
}